.p {
  width: 32%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p-browser {
  height: 12%;
  background-color: rgb(233, 212, 212);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
}

.project-btn {
  height: 100%;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
}

.p-img {
  width: 100%;
  transition: all 3s ease;
  object-fit: contain;
}

.p:hover .p-img {
  transform: translateY(-40%);
}

.question-btn {
  padding: 5px;
  border-radius: 5px;
  right: 5px;
  top: 0;
  position: absolute;
}

.links-group {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-info {
  background-color: rgb(240, 232, 232);
  border: 2px solid #73ad21;
  position: absolute;
  top: 35px;
  width: 100%;
  padding: 5px;
  font-size: 14.5px;
}

@media screen and (max-width: 1500px) {
  .p {
    width: 100%;
    height: 32vh;
  }

  .p-browser {
    height: 20%;
  }

  .project-btn {
  }

  .question-btn {
    padding: 5px;
    right: 0;
    margin: 0;
  }

  .link-group {
  }
}
