.about {
  background-color: #1f1d1d;
  height: auto;
  padding: 2rem;
  text-align: center;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-item {
  margin: 20px;
  color: white;
}

.icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px;
  gap: 15px;
}

.about-icons {
  display: flex;
  gap: 20px;
  color: rgb(229, 229, 160);
}

.about-icon:hover {
  cursor: pointer;
  animation: next 3s infinite ease;
}

.about-stack {
  display: flex;
  width: 80%;
  justify-content: center;
}

.about-column-1 {
  display: flex;
  flex-direction: column;
}

.about-column-2 {
  display: flex;
  flex-direction: column;
}

.about-column-3 {
  display: flex;
  flex-direction: column;
}

.about-column-4 {
  display: flex;
  flex-direction: column;
}

.about-github {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.github-flex {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.github-info-card {
  background-color: white;
  padding: 5px;
  text-align: left;
}

.stack-wrapper {
  border: 1px solid #fff;
  width: max-content;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  color: black;
  flex-wrap: wrap;
  position: relative;
}

.stack-link {
  width: 130px;
  text-align: center;
  padding: 5px;
}

.stack-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.about-class {
  position: absolute;
  top: 5px;
  left: 5px;
  border: 1px solid;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(100, 190, 160);
  color: white;
  font-weight: bold;
}

.line {
  display: none;
}

. @keyframes next {
  0% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 480px) {
  .about {
    padding: 0;
    padding-bottom: 80px;
  }

  .about-class {
    display: none;
  }

  .about-container {
    display: block;
    justify-content: center;
    width: 100%;
  }

  .stack-wrapper {
    padding: 0;
  }

  .stack-progress {
    display: none;
  }

  .about-stack {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .stack-wrapper {
  }
  .about-column-1,
  .about-column-2,
  .about-column-3,
  .about-column-4 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-github {
    max-width: 100%;
    gap: 5px;
  }

  .line {
    display: block;
  }

  .github-flex {
    gap: 5px;
  }

  .github-graph {
    width: 100%;
  }
}
