.intro-container {
  display: flex;
  flex-direction: column;
  height: 94vh;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  background-color: black;
  text-align: center;
}

.bg {
  background-image: url('https://images.unsplash.com/photo-1552083375-1447ce886485?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: absolute;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2px;
}

.face {
  object-fit: cover;
  background-color: white;
  width: 20rem;
  height: 20rem;
  border: 10px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.content {
  background-color: black;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 20px;
  color: white;
  border-radius: 15px;
}

.icon {
  color: rgb(229, 229, 160);
  animation: next 3s infinite ease;
  cursor: pointer;
}

.line {
  height: 2px;
  width: 100%;
  background-color: white;
}

.social-icons {
  display: flex;
  gap: 20px;
}

@keyframes next {
  0% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 1000px) {
  .intro-container {
    height: auto;
  }

  .face {
    width: 15rem;
    height: 15rem;
  }

  .intro-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .main-content {
    width: 100%;
  }
}
