.footerContainer {
  text-align: center;
  padding: 5px;
  color: 'gray';
  border-top: 1px;
  border-color: 'gray';
  height: auto;
}

@media screen and (max-width: 1000px) {
  .footerContainer {
    padding-bottom: 90px;
  }
}
